html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  line-height: 1.4;
}

/* Header section */

header {
  background-image: url(../images/glasses-bg.png);
  height: 31rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.head-container {
  width: 960px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.head-logo {
  display: flex;
  align-items: center;
}

.head-logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.navigation {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.navigation h2 {
  padding: 1rem 1rem;

}

#menu {
  display: none;
}

/* Banner seciton */

.banner {
  display: flex;
  justify-content: center;
}

.banner-container {
  width: 1032px;
  display: flex;
  justify-content: flex-end;
}

.banner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

}

.banner-box h1 {
  padding: 1.5rem 5rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  background-color: white;
}

/* Main section with logos */

main {
  display: flex;
  justify-content: center;
}

.site-container {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: space-around;
  width: 66%;

}

.logo {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-between;
  margin: 3rem 0;
  align-items: center;
}

.one img {
  width: 3.5rem;
  height: auto;
}

.two img,
.three img {
  width: 5rem;
  height: auto;
}

.logo h2 {
  text-align: center;
}

/* Service Section */

.service {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.serv-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.serv-top {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;

}



/* Footer section */

footer {
  display: flex;
  justify-content: center;
}

.footer {
  width: 960px;
  display: flex;
  align-items: center;
  background-color: azure;

}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Media Queries Tablet */

@media only screen and (max-width: 1024px) {
  .banner-box h1 {
    padding: 1.5rem 4rem;
    font-size: 1.33rem;
  }

  .banner-container {
    width: 100%;
  }

  .banner-box {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  header {
    height: 22rem;
  }

  .head-container {
    margin-top: 0;
    width: 100%;
  }

  .site-container {
    width: 100%;
}

@media only screen and (max-width: 750px) {

  .navigation h2 {
    display: none;

  }

  #menu {
    display: block;
  }
}

@media only screen and (max-width: 680px) {

  header {
    background-position: 20%;
    height: 17rem;
  }

  .head-logo h2 {
    display: none;
  }

  .banner-box h1 {
    padding: 1rem 0;
    font-size: 1rem;
  }

  .banner-box {
    margin-top: 9rem;
    width: 100%;
    margin-right: 0;
    background-color: white;
  }

  .logos {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 3rem 0;

  }

  .logo {
    margin: 0.77rem 0;
    height: auto;
  }

  .logo h2 {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  .service {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .serv-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .serv-top {
    width: 100%;
    padding: 0.5rem 0;
  }

  .service p {
    font-size: 0.77rem;
  }

  .footer {
    width: 100%;
    justify-content: center;

  }

  .footer h2 {
    display: none;
  }

  .footer img {
    padding: 4rem 0;
  }


















/* Media Queries Phone */
